<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Directives
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-6">
    <ul>
      <li>Allows dynamic DOM manipullations</li>
      <li>There are list of build in directives</li>
      <li>
        <b>ngFor</b>
        <ul class="inner_ul">
          <li>Similar for <code>foreach</code> in php</li>
          <li>Can used for variable or static data</li>
          <li>Can use array index</li>
        </ul>
      </li>
      <li>
        <b>ngIf</b>
        <ul class="inner_ul">
          <li>When used on an element, the element will be only in DOM if condition is true</li>
          <li>Accepts value or variable names which resolves to boolean</li>
          <li>Can use array index</li>
        </ul>
      </li>
      <li>
        <b>ngClass</b>
      </li>
      <li>
        <b>ngSwitch, ngStyle</b>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Code</h3>
    <img src="/assets/images/fruites_array.png"/>
    <img src="/assets/images/directives_code.png"/>
    <br>
    <ul class="small-ul">
      <li *ngFor="let fruit of fruits">
        <b>{{ fruit.name }}</b>
        <span *ngIf="fruit.price > 0">{{ fruit.price }}</span>
      </li>
    </ul>
    <br>
    <img src="/assets/images/ng_switch.png"/>
    <div class="alert" [ngClass]="{'alert-danger': alertError}">
      This is an alert
    </div>
    <button (click)="alertError = true">Add alert-error class</button>

  </div>
</div>
<div class="row slide-footer"></div>