<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Directives
    </h3>
  </div>
</div>
<div class="row slide-content">

  <div class="col-md-12">
    <ul class="inner_ul">
      <li>Allows dynamic DOM manipullations</li>
      <li>There are list of build in directives</li>
    </ul>
  </div>

  <hr>
  <div class="col-md-6">
    <b>ngFor</b>
    <ul class="inner_ul">
      <li>Similar for <code>foreach</code> in php</li>
      <li>Can used for variable or static data</li>
      <li>Can use array index</li>
    </ul>
    <b>ngIf</b>
    <ul class="inner_ul">
      <li>When used on an element, the element will be only in DOM if condition is true</li>
      <li>Accepts value or variable names which resolves to boolean</li>
      <li>Can use array index</li>
    </ul>
  </div>

  <div class="col-md-6">
    <img src="/assets/images/fruites_array.png"/>
    <img src="/assets/images/directives_code.png"/>
    <br>
    <ul class="small-ul">
      <li *ngFor="let fruit of fruits">
        <b>{{ fruit.name }}</b>
        <span *ngIf="fruit.price > 0">{{ fruit.price }}</span>
      </li>
    </ul>
   </div>

  <hr>
  <div class="col-md-6">
    <b>ngClass</b>
    <b>ngSwitch, ngStyle</b>
  </div>
  <div class="col-md-6">
    <img src="/assets/images/ng_switch.png"/>
    <div class="alert" [ngClass]="{'alert-danger': alertError}" style="width: 200px;float: left;">
      This is an alert
    </div>&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="alertError = true" class="btn btn-primary">Add alert-error class</button>
  </div>
</div>
<div class="row slide-footer"></div>