.slide-footer{
    background-image: url("/assets/images/footer.png");
    height: 40px;
    width:120%;
    left: -15px;
    position: relative;
}

.slide-header{
    background-color: #4285F4;
    color: white;
    box-shadow: 7px -1px 24px black;
    height: 50px;
    width:120%;
    left: -15px;
    position: relative;
}

.slide-header img{
    height:45px;
}

.slide-header h3{
    margin-top: 9px;
}