<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Basics
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-6">
    <ul>
      <li>Front end Framework for single page application</li>
      <li>Development can done using TypeScript, Javascript or Dart</li>
      <li>Speed and Performance</li>
      <li>Normal web application load all html and data on each page refresh</li>
      <li>In Single page applications we can only load/refresh data while caching html,css & js</li>
      <li>SPA frameworks helps to map between data and view</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="/assets/images/single_page_app.png"/>
  </div>
</div>
<div class="row slide-footer"></div>