<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Routing
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-6">
    <ul>
      <li>Similar to php routing</li>
      <li>Enable dynamic loading of components</li>
      <li>Module wise routing</li>
      <li>Guards can be used for access controll (Similar to Middleware)</li>
    </ul>
  </div>
  <div class="col-md-6">
  </div>
</div>
<div class="row slide-footer"></div>