<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Component
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-6">
    <ul>
      <li>Basic building block of angular js application</li>
      <li>Selector will determine which element component should applied to</li>
      <li>Component have it's own CSS, HTML and  Typescript code</li>
      <li>CSS and HTML can created as inline or as seprate files</li>
    </ul>
  </div>
  <div class="col-md-6">
    <img src="/assets/images/code_component.png"/>
  </div>
</div>
<div class="row slide-footer"></div>