<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular.svg">
  </div>
  <div class="col-md-11">
    <h3>
      Data And Event Binding
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-12">
    <ul>
      <li>Data binding is a mechanism for coordinating what users see with application data values</li>
    </ul>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <b>One Way</b> <br>
            from data to view
          </td>
          <td>
            <b>example1</b>
            {{ example1 }}
          </td>
          <td>
            <code>
              {{ example1 }} <br>
              [ngModel] = "example1"
            </code>
          </td>
          <td>
            {{ example1 }} <br>
            <input type="text" [ngModel]="example1">
            <button type="button" (click)="example1 = 'Grape'">Change to Grape</button>
          </td>
        </tr>
        <tr>
          <td>
            <b>EventBinding</b> <br>
            from view to data
          </td>
          <td>
            <b>example2</b>
            {{ example2 }}
          </td>
          <td>
            <code>
              (click)="example2 = 'Grape'"
            </code>
          </td>
          <td>
            <button type="button" (click)="example2 = 'Grape'">Change to Grape</button>
          </td>
        </tr>
        <tr>
          <td>
            <b>Two Way Binding</b> <br>
            vaie <=> data
          </td>
          <td>
            <b>example3</b>
            {{ example3 }}
          </td>
          <td>
            <code>
              [(ngModel)]="example3"
            </code>
          </td>
          <td>
            <input type="value" [(ngModel)]="example3"/>
            <button type="button" (click)="example3 = 'Grape'">Change to Grape</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <ul>
      <li>Angular1 Have Two way binding by default which is removed in angular2</li>
      <li>Event binding we can bind custom events</li>
    </ul>

  </div>
</div>
<div class="row slide-footer"></div>