<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Deployment
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-12">
    <ul>
      <li><code>ng build</code>Command will create compiled static code</li>
      <li>Builds can be easily deployed to any server or storage services like S3</li>
      <li><code>ng build</code> Will create a build for development, with debugging</li>
      <li><code>ng build --prod</code> Will create lightweight production build with less debugging options</li>
      <li>Production build take care of caching problem with custom file names</li>
      <li>
        <b>Notes</b>
        <ul>
          <li>Angular support url routing using real url segment</li>
          <li>For this to work, we need to point 404 Error to index.html</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row slide-footer"></div>