<div class="row slide-header">
  <div class="col-md-1">
    <img src="/assets/images/angular_logo.png">
  </div>
  <div class="col-md-11">
    <h3>
      Debugging
    </h3>
  </div>
</div>
<div class="row slide-content">
  <div class="col-md-12">
    <ul>
      <li>Development build of an application contain resource map.</li>
      <li>Resource map is a mapping between compiled Js code and TypeScript.</li>
      <li>Using resource map browser enables us to debug TypeScript code in console</li>
      <li>
        <img src="/assets/images/augury-logo.svg" height="20px"/>
        Augury chrome plugin make debugging much easier
        <br>
        <ul>
          <li>It List component map and router map</li>
          <li>It shows current of each variables</li>
          <li>In form it shows the validation statuses</li>
          <li>Injector graph shows tree structure for Dependency Injection</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row slide-footer"></div>